@model SRV.ViewModel.RegisterModel
@{
    ViewBag.Title = "一起帮 - 注册";
    Layout = "~/Views/Shared/_UserRight.cshtml";
}

@section Header{
    <i class="fa fa-registered" aria-hidden="true"></i>&nbsp;注册
}

@using (Html.BeginForm())
{
    <div style="background:#ffffe0; border:2px dashed #eee; border-radius:4px 5px; padding:10px">
        <div style="font-size:14px; text-align:right">
            <a href="#"><i class="fa fa-question-circle" aria-hidden="true"></i>&nbsp;为什么需要邀请</a>
        </div>
        <div class="form-group">
            <label><b>邀请人：（*必填，<a href="#">没有邀请人</a>）</b></label>
            @Html.TextBoxFor(m => m.Inviter, new { @class = "form-control", placeholder = "他的用户名，模糊查询只能从头开始" })
            @Html.ValidationMessageFor(m => m.Inviter)
        </div>
        <div class="form-group">
            <label><b>邀请码：（*必填）</b></label>
            @Html.TextBoxFor(m => m.InvitationCode, new { @class = "form-control", placeholder = "4位字符" })
            @Html.ValidationMessageFor(m => m.InvitationCode)
        </div>
    </div>

    <div class="form-group" style="margin-top:10px">
        <label><b>用户名：（*必填）</b></label>
        @Html.TextBoxFor(m => m.Username, new { @class = "form-control", placeholder = "登录用户名，可修改，不能重复" })
        @Html.ValidationMessageFor(m => m.Username)
    </div>
    <div class="form-group">
        <label><b>密码：（*必填）</b></label>
        @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "不少于4个字符" })
        @Html.ValidationMessageFor(m => m.Password)
    </div>
    <div class="form-group">
        <label><b>验证密码：（*必填）</b></label>
        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = "和密码相同" })
        @Html.ValidationMessageFor(m => m.ConfirmPassword)
    </div>
    <div class="form-group">
        <label><b>验证码：（*必填）</b></label><br />
        @Html.TextBoxFor(m => m.Captcha, new { @class = "form-control", style = "display:inline; width:110px" })
        <span>点击输入框显示</span><br />
        @Html.ValidationMessageFor(m => m.Captcha)
    </div>

    <div>
        <button type="submit" class="btn btn-primary btn-sm">提交</button>
        <button type="reset" class="btn btn-secondary btn-sm">重置</button>
        <a href="/Login/Index" style="float:right"><i class="fa fa-sign-in" aria-hidden="true"></i>&nbsp;登录</a>
    </div>
}

@section Description{
    <ol>
        <li style="margin-bottom:10px">我们希望通过<a href="#">一起帮</a>，能<b style="color:#337ab7">直接解决</b>大家在<span style="color:#337ab7">电脑操作/软件使用/编程学习</span>等方面的<b style="color:#337ab7">具体问题</b>。</li>
        <li style="margin-bottom:10px">现在互联网远程技术<span style="color:#6c757d!important">（比如QQ桌面共享）</span>已经非常成熟，当我们再遇到上述问题，如果别人能<span style="color:#337ab7">直接远程给予帮助</span>，岂不是更好？</li>
        <li style="margin-bottom:10px">当然，你也可以在你熟悉的领域去<span style="color:#337ab7">帮助别人</span>。由此而形成我们这个“你帮他他帮我我帮你，大家一起帮”的网上互助社区平台。</li>
        <li style="margin-bottom:10px">公平起见，我们还引入了 帮帮<span style="color:blue">点</span>/<span style="color:rgba(203,180,26,1)">币</span>/<span style="color:#9acd32">豆</span>&nbsp;三级概念，以记录和衡量社区成员的收获和贡献。</li>
        <li style="margin-bottom:10px">赶快加入我们，赚取帮帮币吧！</li>
    </ol>
}
