@model SRV.ViewModel.ChangePasswordModel
@{
    ViewBag.Title = "修改密码 - 一起帮";
    Layout = "~/Views/Shared/Layout/_UserRightLayout.cshtml";
}

@section Header{
    <i class="fa fa-key" aria-hidden="true"></i> 修改密码
}

@using (Html.BeginForm())
{
    <div class="form-group">
        <label><b>原密码：</b></label>
        @Html.PasswordFor(m => m.OriginalPwd, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.OriginalPwd)
    </div>
    <div class="form-group">
        <label><b>新密码：</b></label>
        @Html.PasswordFor(m => m.NewPwd, new { @class = "form-control", placeholder = "不少于4个字符" })
        @Html.ValidationMessageFor(m => m.NewPwd)
    </div>
    <div class="form-group">
        <label><b>确认密码：</b></label>
        @Html.PasswordFor(m => m.ConfirmNewPwd, new { @class = "form-control", placeholder = "和新密码相同" })
        @Html.ValidationMessageFor(m => m.ConfirmNewPwd)
    </div>
    <button type="submit" class="btn btn-outline-primary">提交</button>
}

@section Description{
    <ol>
        <li style="margin-bottom:10px">为保护账号安全，请先输入原密码进行身份验证。</li>
    </ol>
}
