@model SRV.ViewModel.PersonalDataModel
@{
    ViewBag.Title = "个人资料 - 一起帮";
    Layout = "~/Views/Shared/Layout/_UserRightLayout.cshtml";
}

@section Header{
    <i class="fa fa-id-card-o" aria-hidden="true"></i> 个人资料
}

@using (Html.BeginForm())
{
    <div class="mb-4 text-center">
        <input type="file" accept="image/png, image/jpeg" hidden />
        <i class="fa fa-user-circle-o fa-5x" aria-hidden="true"></i>
    </div>
    <div class="mb-3">
        <label><b>用户名：</b></label><span style="color:#777">@Model.Username</span>
    </div>
    <div class="mb-3">
        <label><b>性别：</b></label>
        <label>@Html.RadioButtonFor(m => m.Gender, true, new { @class = "align-middle" }) 男</label>
        <label class="ml-3">@Html.RadioButtonFor(m => m.Gender, false, new { @class = "align-middle" }) 女</label>
        <label class="ml-3">@Html.RadioButtonFor(m => m.Gender, "", new { @class = "align-middle" }) 保密</label>
    </div>
    <div class="form-group">
        <label><b>昵称：</b></label>
        @Html.TextBoxFor(m => m.Nickname, new { @class = "form-control", placeholder = "2-16个字符" })
        @Html.ValidationMessageFor(m => m.Nickname)
    </div>
    <div class="form-group">
        <label><b>生日：</b></label>
        @Html.TextBoxFor(m => m.Birthday, new { @class = "form-control", type = "date", max = DateTime.Now.ToString("yyyy-MM-dd") })
        @Html.ValidationMessageFor(m => m.Birthday)
    </div>
    <div class="form-group">
        <label><b>个人简介：</b></label>
        @Html.TextAreaFor(m => m.Description, new { @class = "form-control", placeholder = "介绍一下自己吧" })
        @Html.ValidationMessageFor(m => m.Description)
    </div>
    <button type="submit" class="btn btn-outline-primary">保存</button>
}

@section Description{
    <ol>
        <li class="mb-3">头像仅接受jpeg/png格式，大小不超过256KB。</li>
        <li class="mb-3">头像图片的建议宽度为300像素左右，过宽或过窄可能造成失真。</li>
        <li class="mb-3">昵称长度为2-16个字符。</li>
        <li class="mb-3">未设置昵将默认使用用户名。</li>
        <li>个人简介不超过256个字符。</li>
    </ol>
}

<script src="~/Scripts/shared/personalDataGender.js" type="text/javascript"></script>
