@model List<SRV.ViewModel.CommentModel>

<p style="font-size:1.2rem">
    <i class="fa fa-comments-o" aria-hidden="true"></i>
    评论（<span id="comment-count">@Model.Count</span><span style="font-size:1.1rem"> 条</span>）
</p>

<div class="input-group mb-3">
    <input id="comment-content" class="form-control" placeholder="写下你的评论……">
    <div class="input-group-append">
        <button id="publish" class="btn btn-outline-secondary">发布</button>
    </div>
</div>

<div id="comments" style="font-size:14px">
    @foreach (var comment in Model)
    {
        if (comment.ReplyUsername != null) { continue; }

        <div style="margin-bottom:1rem">
            <div class="main-comment">
                @Html.Hidden("id", comment.Id)
                <span>
                    <i class="fa fa-user-circle" aria-hidden="true"></i>
                    <a href="#">@comment.User.Username</a>
                    <span style="float:right; font-size:13px; color:#777">@comment.PublishTime</span>
                </span>

                <div style="margin-left:1rem">@comment.Content</div>
                <div style="text-align:right">
                    <a href="#" style="margin-right:1rem"><i class="fa fa-reply" aria-hidden="true" style="display:none"> 回复</i></a>
                    <a href="#" style="color:#2b542c"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> @comment.Agree</a>
                    <a href="#" style="margin-left:1rem; color:#777"><i class="fa fa-thumbs-o-down" aria-hidden="true"></i> @comment.DisAgree</a>
                </div>
            </div>

            <div style="margin:1rem 0 1rem 1rem; border:0; border-left:1px solid rgba(0,0,0,.1)">
                @foreach (var reply in comment.Replys)
                {
                    <div class="reply-comment" style="margin-left:1rem">
                        @Html.Hidden("id", reply.Id)
                        <hr style="margin-top:0" />
                        <span>
                            <i class="fa fa-user-circle" aria-hidden="true"></i>
                            <a href="#">@reply.User.Username</a>
                            <span style="color:#8590a6; margin:0 0.5rem 0 0.5rem">回复</span>
                            <a href="#">@reply.ReplyUsername</a>
                            <span style="float:right; font-size:13px; color:#777">@reply.PublishTime</span>
                        </span>
                        <div style="margin-left:1rem">@reply.Content</div>
                        <div style="text-align:right">
                            <a href="#" style="margin-right:1rem"><i class="fa fa-reply" aria-hidden="true" style="display:none"> 回复</i></a>
                            <a href="#" style="color:#2b542c"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> @reply.Agree</a>
                            <a href="#" style="margin-left:1rem; color:#777"><i class="fa fa-thumbs-o-down" aria-hidden="true"></i> @reply.DisAgree</a>
                        </div>
                    </div>
                }
            </div>
            <hr />
        </div>
    }
</div>

<script src="~/Scripts/shared/commentPublish.js" type="text/javascript"></script>
<script src="~/Scripts/shared/commentReply.js" type="text/javascript"></script>
